<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1038834631375-mp476n8dr5f1br455ganh68sof0b53vm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1038834631375-mp476n8dr5f1br455ganh68sof0b53vm</string>
	<key>API_KEY</key>
	<string>AIzaSyA6eA156_MCWIQmd78jEYgI5cVMX3m4LXQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1038834631375</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.crescent.friends2</string>
	<key>PROJECT_ID</key>
	<string>friends-6b4ee</string>
	<key>STORAGE_BUCKET</key>
	<string>friends-6b4ee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1038834631375:ios:452bb7234ccde8d8542dba</string>
</dict>
</plist>